body{
	font-family:Sans-Serif;
	color:blue;
	background-color:black;
}





#a1{
	text-align:center;
	font-size: 80px;
	color:white;
}

#table2{
	
	
	text-align:center;
	font-weight:bold;
	font-size:40px;
	list-style-position: inside;
}


table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 85%;
  border: 0px solid #ddd;
}

th, td {
  text-align: left;
  padding: 16px;
}

tr:nth-child(even) {
  background-color: #f2f2f2
}

a{
color:blue
}
a:hover{
	color:green;
}